<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box shadow pb-0 sticky-column">
        <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar__box">
                <a href="{% url 'core:home_view' %}">
                    <image xlink:href="{% if profile.image %} {{ profile.image.url }} {% else %}/static/images/profile_picture.jpg{% endif %}" height="100%" width="100%" />
                </a></g>
        </svg>
        <div class="text-center">
            <a href="{% url 'core:home_view' %}">
                <h3 class="title title--h3 sidebar__user-name"><span class="weight--500">{{ profile.first_name }} </span> {{ profile.last_name }}</h3>
            </a>
            <div class="badge badge--light">{{ profile.title }}</div>

            <!-- Social -->
            <div class="social">
                <a class="social__link" href="{{ profile.github }}" target="_blank"><i class="font-icon icon-github"></i></a>
                <a class="social__link" href="{{ profile.linkedin }}" target="_blank"><i class="font-icon icon-linkedin2"></i></a>
            </div>
        </div>

        <div class="sidebar__info box-inner box-inner--rounded">
            <ul class="contacts-block">
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Address">
                    <i class="font-icon icon-location"></i>{{ profile.location }}
                </li>
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
                    <a href="mailto:{{ profile.email }}"><i class="font-icon icon-envelope"></i>{{ profile.email }}</a>
                </li>
            </ul>

            <a class="btn" href="{% if profile.csv %} {{ profile.csv.url }} {% else %}static/downloads/Fendy_Pierre_Resume.pdf{% endif %}" target="_blank"><i class="font-icon icon-download"></i> Download CV</a>
        </div>
    </div>
</aside>