<div id="project-tab" class="tabcontent">
	<div class="pb-2">
		<h1 class="title title--h1 first-title title__separate">Projects</h1>
	</div>

	<div class="news-grid pb-0">
		<!-- Post -->
		{% for project in project_list %}
			<article class="news-item box">
				<div class="news-item__image-wrap overlay overlay--45">
					<div class="news-item__date">{{ project.date }}</div>
					<a class="news-item__link" href="{% url 'core:project_detail_view' pk=project.pk %}"></a>
					<img class="cover lazyload" src="{% if project.image %} {{ project.image.url }} {% else %} 'static/img/picture-1.png' {% endif %}" alt="" />
				</div>
				<div class="news-item__caption">
					<h2 class="title title--h4">{{ project.name }}</h2>
					<p>{{ project.brief_description }}</p>
				</div>
			</article>
		{% endfor %}
	</div>
</div>